:root {
    --main-text-font: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: Arial, Helvetica, sans-serif;
    background-color: rgb(62, 62, 63);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
i {
    text-decoration: none;
    color: white;
    background-color: black;
}
input {
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: black;
    width: 100%;
}
header:hover {
    background: black;
}
header.sticky {
    background: black;
}
.logo {
    flex: 1;
    margin-left: -20px;
    background-color: black;
}
.catename {
    display: block;
    overflow: hidden;
    margin: 38px 0;
    cursor: default;
}
.logo-category>img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 35px;
}
.menu {
    flex: 3;
    display: flex;
    margin-left: 200px;
    background-color: black;
}
.menu > li {
    padding: 0 25px;
    position: relative;
    background-color: black;
}
.menu li a {
    font-size: 18px;
    font-weight: bold;
    display: block;
    line-height: 30px;
    background-color: black;
}
.menu > li:hover .menu1{
    visibility: visible;
    top: 50px;
    background-color: black;
}
.menu1 {
    position: absolute;
    width: 105px;
    border: 2px solid white;
    padding: 10px 0px 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: black;
}
.menu1 ul {
    padding-left: 20px;
}
.menu1 li a {
    font-weight: bold;
    font-size: 15px;
}
.menu > li:hover .menu2{
    visibility: visible;
    top: 50px;
}
.menu2 {
    position: absolute;
    width: 125px;
    border: 2px solid white;
    padding: 10px 0px 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: black;
}
.menu2 ul {
    padding-left: 20px;
}
.menu2 li a {
    font-weight: bold;
    font-size: 15px;
}
.menu > li:hover .menu3{
    visibility: visible;
    top: 50px;
}
.menu3 {
    position: absolute;
    width: 100px;
    border: 2px solid white;
    padding: 10px 0px 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: black;
}
.menu3 ul {
    padding-left: 20px;
}
.menu3 li a {
    font-weight: bold;
    font-size: 15px;
}
.menu > li:hover .menu4{
    visibility: visible;
    top: 50px;
}
.menu4 {
    position: absolute;
    width: 180px;
    border: 2px solid white;
    padding: 10px 0px 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: black;
}
.menu4 ul {
    padding-left: 20px;
}
.menu4 li a {
    font-weight: bold;
    font-size: 15px;
}
.menu > li:hover .menu5{
    visibility: visible;
    top: 50px;
}
.menu5 {
    position: absolute;
    width: 140px;
    border: 2px solid white;
    padding: 10px 0px 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: black;
}
.menu5 ul {
    padding-left: 20px;
}
.menu5 li a {
    font-weight: bold;
    font-size: 15px;
}
.menu > li:hover .menu6{
    visibility: visible;
    top: 50px;
}
.menu6 {
    position: absolute;
    width: 105px;
    border: 2px solid white;
    padding: 10px 0px 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: black;
}
.menu6 ul {
    padding-left: 20px;
}
.menu6 li a {
    font-weight: bold;
    font-size: 15px;
}
.others {
    flex: 1;
    display: flex;
}
.others > li{
    padding: 0 12px;
    position: relative;
    background-color: black;
}
.others > li::after {
    content:"";
    display: block;
    width: 1px;
    height: 50%;
    background: #dddddd;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.others > li:last-child::after {
    display: none;
}
.others > li:first-child {
    position: relative;
    background-color: black;
}
.others > li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid white;  
    background: transparent;
    outline: none;
}
.others > li:first-child i {
    position: absolute;
    right: 10px;
}
.others input::placeholder {
    font-size: 13px;
}
#Slide {
    padding-bottom: 30px;
    border-bottom: 2px solid white;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
}
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.dot-container {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.dot.active {
    background-color: black;
}
/* ---------------------- product ----------------------- */
.container_main-product {
    margin-left: 22px;
    margin-top: 22px;
    border: 2px solid rgb(50, 50, 50);
    border-radius: 4%;
    background-color: rgb(50, 50, 50);
}

.products {
    width: calc(100% - 90px);
    float: right;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

.container_main-product img{
    width: 320px;
    height: 200px;
    image-rendering: pixelated;
    object-fit: contain;
    background-color: rgb(50, 50, 50);
}
.product-name {
    color: white;
}
.product-price {
    color: white;
}
.product-name h3 {
    background-color: rgb(50, 50, 50);;
}
.product-price h2 {
    background-color: rgb(50, 50, 50);;
}
/* ---------------------- app-container ---------------------- */
.app-container {
    text-align: center;
    align-items: center;
    padding: 70px 0 20px 0;
    border-top: 2px;
}
.apple-google {
    margin: 50px;
}
.apple-google img{
    height: 50px;
    cursor: pointer;
}
.app-container p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.app-container input {
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    width: 400px;
    text-align: center;
    outline: none;
}
input::placeholder {
    font-size: 16px;
}
.input-email {
    position: relative;
    width: 300px;
    margin: auto;
    margin-top: 30px;
}
.input-email input {
    width: 100%;
    border: none;
    padding-bottom: 12px;
    border-bottom: 1px solid white;
    text-align: center;
}
.input-email i {
    position: absolute;
    right: 12px;
    bottom: 6px;
    cursor: pointer;
    background-color: rgb(62, 62, 63);
}
/* ---------------------- footer ---------------------- */
footer {
    text-align: center;
}
.footer-items {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 100px;
}
.footer-items li {
    padding: 0 12px;
    position: relative;
    color: white;
}
.footer-items li::after{
    content:"";
    display: block;
    width: 1px;
    height: 80%;
    background: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-items li:last-child::after {
    display: none;
}
.footer-items li:last-child a {
    margin-right: 12px;
    color: white;
    background-color: rgb(62, 62, 63);
}
.footer-text {
    text-align: center;
}
.footer-text p {
    color: white;
}
.footer-bottom {
    padding: 10px 0;
    font-size: 12px;
    font-family: var(--main-text-font);
    background-color: #dddddd;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
/* ---------------------- Cartegory ---------------------- */
.row {
    display: flex;
    justify-content: right;
}
.container {
    display: block;
}
.cartegory {
    padding: 100px 0 0;
}
.cartegory-left {
    width: 20%;
    margin-top: 20px;
    margin-left: 10px;
}
.cartegory-left ul 
{
    margin-left: 50px;
    margin-top: 30px;
    width: 100%;
}
.cartegory-left ul li {
    padding: 10px 0;
    width: 100%;
}
.cartegory-left ul li > a {
    font-size: 20px;
    font-weight: bold;
    font-family: var(--main-text-font);
    background-color: rgb(62, 62, 63);
}
.cartegory-left ul li ul li {
    padding-left: 2px;
}

.cartegory-left-li ul {
    display: none;
    margin-top: 12px;
}
.cartegory-left-li a {
    cursor: pointer;
}
.cartegory-left-li.block ul {
    display: block;
}
.cartegory-left ul li ul li a {
    font-size: 14px;
}
.cartegory-right {
    margin-right: 30px;
}

.cartegory-right-top-item:first-child {
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
    width: 110px;
    margin-left: 50px;
}
.cartegory-right-top-item {
    flex: 1;
    padding: 0 10px;
}
.cartegory-right-top-select select {
    width: 130px;
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    border: 2px solid white;
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 20px;
    color: white;
}
.cartegory-right-content {
    margin-top: 20px;
    justify-content: space-between;
}
.cartegory-right-content-item {
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}
.cartegory-right-content-item h1 {
    font-size: 18px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333333;
}
.cartegory-right-content-item img {
    width: 100%;
}
.cartegory-right-content-item p {
    font-size: 23px;
    font-weight: bold;
}
.pagelink{
    text-align: center;
    border: 1px solid gray;
    width: 50px;
    color: white;
}
.pagelink h4:hover{
    background-color: #000;
}
.cartegory-right-bottom{
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 40px;
    display: flex;
    top:370px;
}